name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      
      - name: Download OCI Java SDK
        run: |
          curl -OL https://github.com/oracle/oci-java-sdk/archive/v2.46.0.tar.gz
          tar -xvf v2.46.0.tar.gz
          pushd oci-java-sdk-2.46.0/
          mvn -q clean install -Dmaven.javadoc.skip=true -DskipTests
          popd
      
      - name: Build with Maven
        run: mvn clean compile